.background {
    background: repeating-linear-gradient(
        45deg,
        #f8f8f8,
        #f8f8f8 10px,
        #ffffff 10px,
        #ffffff 20px
    );
}

.title-image {
    float: right;
    margin: 5px;
    height: 100vh; 
    shape-outside: polygon(89px 185px, 17.49% 36.88%, 20.37% 47.91%, 24.38% 59.70%, 30.53% 69.89%, 26.73% 74.94%, 8.79% 80.29%, -0.52% 99.95%, 100% 100%, 99.81% 71.29%, 85.67% 66.91%, 74.44% 57.69%, 73.96% 52.22%, 81.04% 43.67%, 80.27% 36.24%, 74.98% 34.06%, 69% 16.28%, 43.52% 9.33%, 31.69% 9.88%, 21.42% 16.96%);
}

.title {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Verdana';
    transition: 700ms ease;
    margin-bottom: 0.8rem;
    color: rgb(0, 0, 0);
    outline: none;
    text-align: justify;
    word-break: break-all;
    font-weight: 900;
}

.card-title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Verdana';
    transition: 700ms ease;
    margin-bottom: 0.8rem;
    color: rgb(0, 0, 0);
    outline: none;
    text-align: center;
    word-break: break-all;
    font-weight: 900;
}

.card-text {
    text-align: justify;
    font-family: Verdana;
    font-size: 20px;
}

.light {
    color: #000000;
}

.dark {
    color: #bdbdbd;
}


.text {
    text-align: justify;
    font-family: Verdana;
    word-break: break-all;
    font-size: 30px;
}

.column {
    float: left;
    width: 32%;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 1vh;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background: linear-gradient(to right, #7c7c7c91, transparent 100%);
}

.row {
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card-light {
    padding: 16px;
    text-align: center;
    background-color: #f1f1f100;
}
.card-dark {
    padding: 16px;
    text-align: center;
    background-color: #35353500;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}